iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.curso-main-container     
  background-color: #f3f9ff !important

.cajon.color-secundario 
  background-color: #E9DCFD !important  

.cajon.color-acento-contenido 
  background-color: #FFECF2;

.cajon.color-acento-botones
    background-color: #E4FDFC;


.bloque-texto-g.color-primario
    background-color: #500C75 !important

.titulo-sexto
  font-size: 0.813em !important


.fondo-introduccion  
  position: relative
  padding-bottom: 1rem
  div
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/introduccion/img01.svg")    
    // background-size: contain
    background-repeat: no-repeat      

.fondo1-tema1
  position: relative
  padding-bottom: 1rem
  .row, p,.titulo-segundo
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema1/img01.svg")    
    // background-size: contain
    background-repeat: no-repeat      

.fondo2-tema1  
  background-image: url("../assets/curso/tema1/img05.svg")    
  background-size: cover
  background-repeat: no-repeat      

.fondo3-tema1  
  border-radius: 20px
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(228,253,252,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4fdfc', GradientType=0 );

.fondo4-tema1  
  background-image: url("../assets/curso/tema1/img10.svg")    
  background-size: cover
  background-repeat: no-repeat  

.fondo5-tema1  
  position: relative
  padding-bottom: 1rem
  .row, p,.titulo-segundo
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema1/img13.svg")    
    background-size: cover
    background-repeat: no-repeat  
    
.fondo6-tema1  
  position: relative
  padding-bottom: 1rem
  .row, p,.titulo-segundo
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema1/img27.svg")    
    background-size: cover
    background-repeat: no-repeat  

.fondo7-tema1  
  background-image: url("../assets/curso/tema1/img36.svg")    
  background-size: cover
  background-repeat: no-repeat

.fondo8-tema1  
  background-image: url("../assets/curso/tema1/img41.svg")    
  background-size: cover
  background-repeat: no-repeat

  .tab1    
    .tabs-a__tab    
      background-color: #DCCEE3;    
    .tabs-a__tab.tabs-a__tab__selected
      background-color: #79F5ED;    
      width: 104%
    .tarjeta
      background-color: #E4FDFC;
      border-radius: 10px;
      height: 100%;
    .tabs-a__content-item
      height: 100%

.fondo9-tema1  
  position: relative
  padding-bottom: 1rem
  .row, p,.titulo-segundo
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema1/img51.svg")    
    background-size: cover
    background-repeat: no-repeat  

.fondo10-tema1  
  background-image: url("../assets/curso/tema1/img54.svg")    
  background-size: 100% 100%
  background-repeat: no-repeat 

.fondo1-tema2
  background-image: url("../assets/curso/tema2/img04.svg")    
  background-size: cover
  background-repeat: no-repeat

.fondo2-tema2
  position: relative
  padding-bottom: 1rem
  .row, p,.titulo-segundo
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema2/img06.svg")    
    background-size: cover
    background-repeat: no-repeat  

.fondo3-tema2  
  background-image: url("../assets/curso/tema2/img09.svg")    
  background-size: 100% 100%
  background-repeat: no-repeat 

.fondo4-tema2
  position: relative
  padding-bottom: 1rem
  .row, p,.titulo-segundo
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema2/img12.svg")    
    background-size: cover
    background-repeat: no-repeat   

.fondo5-tema2
  position: relative
  padding-bottom: 1rem
  div, p, figure
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem     
    background: rgba(240,231,253,1);
    background: -moz-linear-gradient(left, rgba(240,231,253,1) 0%, rgba(243,254,254,1) 60%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,231,253,1)), color-stop(60%, rgba(243,254,254,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(240,231,253,1) 0%, rgba(243,254,254,1) 60%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(240,231,253,1) 0%, rgba(243,254,254,1) 60%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(240,231,253,1) 0%, rgba(243,254,254,1) 60%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(240,231,253,1) 0%, rgba(243,254,254,1) 60%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e7fd', endColorstr='#ffffff', GradientType=1 );

.fondo6-tema2
  position: relative
  padding-bottom: 1rem
  .row, p,.fondo7-tema2
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema2/img27.svg")    
    background-size: cover
    background-repeat: no-repeat   

.fondo7-tema2
  background-image: url("../assets/curso/tema2/img29.svg")    
  background-size: 100% 100%
  background-repeat: no-repeat 

.fondo1-tema3
  position: relative
  padding-bottom: 1rem
  .row, p, .titulo-sexto, div, figure , img
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema3/img01.svg")    
    // background-size: contain
    background-repeat: no-repeat      

.fondo2-tema3
  position: relative
  padding-bottom: 1rem
  .row, p, .titulo-sexto, div, figure , img
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema3/img03.svg")    
    // background-size: contain
    background-repeat: no-repeat       

.fondo3-tema3
  background-image: url("../assets/curso/tema3/img05.svg")    
  background-size: 100% 100%
  background-repeat: no-repeat 

.fondo4-tema3
  background-image: url("../assets/curso/tema3/img16.svg")    
  background-size: cover
  background-repeat: no-repeat 

.fondo5-tema3
  background-image: url("../assets/curso/tema3/img18.svg")    
  background-size: cover
  background-repeat: no-repeat

.fondo6-tema3
  position: relative
  padding-bottom: 1rem
  .row, p,.titulo-segundo, figure
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema3/img30.svg")    
    background-size: cover
    background-repeat: no-repeat  

.fondo7-tema3
  background-image: url("../assets/curso/tema3/img38.svg")    
  background-size: cover
  background-repeat: no-repeat  

.tarjetas1
  .tarjeta-slide
    background: rgba(233,220,253,1);
    background: -moz-linear-gradient(top, rgba(233,220,253,1) 0%, rgba(228,253,252,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,220,253,1)), color-stop(100%, rgba(228,253,252,1)));
    background: -webkit-linear-gradient(top, rgba(233,220,253,1) 0%, rgba(228,253,252,1) 100%);
    background: -o-linear-gradient(top, rgba(233,220,253,1) 0%, rgba(228,253,252,1) 100%);
    background: -ms-linear-gradient(top, rgba(233,220,253,1) 0%, rgba(228,253,252,1) 100%);
    background: linear-gradient(to bottom, rgba(233,220,253,1) 0%, rgba(228,253,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9dcfd', endColorstr='#e4fdfc', GradientType=0 );



.tab1
  .tabs-b 
    border-bottom: 0px solid white
  .tabs-b__tab
    background-color: #E9DCFD
    border-bottom: 0px solid white;
  .tabs-b__tab--active
    background-color: #FFFFFF
    border-left: 0px solid white !important
    border-right: 0px solid white !important
  .tabs-b__tab__title
    font-weight: 700;


.info1
  .img-infografica__item__dot:before
    background-color: transparent !important
  .tarjeta    
    background-color: #FFECF2;

.tiempo1

  .tarjeta
    border-radius: 5px
  .tarjeta--gris 
    background-color: #E9DCFD;
  .linea-tiempo-d__item--selected
    .tarjeta--gris 
      background-color: #E4FDFC;
    .linea-tiempo-d__item__col-number
      .tarjeta--gris 
        background-color: #91EDE8 !important
  
.fa-chevron-left:before 
  color: #79F5ED !important

.slider-espcial    
  
 
  border-radius: 41px
  height: 81px
  background: rgba(239,255,255,1);
  background: -moz-linear-gradient(top, rgba(239,255,255,1) 0%, rgba(219,246,245,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,255,255,1)), color-stop(100%, rgba(219,246,245,1)));
  background: -webkit-linear-gradient(top, rgba(239,255,255,1) 0%, rgba(219,246,245,1) 100%);
  background: -o-linear-gradient(top, rgba(239,255,255,1) 0%, rgba(219,246,245,1) 100%);
  background: -ms-linear-gradient(top, rgba(239,255,255,1) 0%, rgba(219,246,245,1) 100%);
  background: linear-gradient(to bottom, rgba(239,255,255,1) 0%, rgba(219,246,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efffff', endColorstr='#dbf6f5', GradientType=0 );
  img
    transition: transform .2s
    width: 53px
    &:hover    
      cursor: pointer;
      filter: brightness(120%);
      transform: scale(1.1);
    &:active
        filter: brightness(50%);


.TFcontainer
  position: relative
  width: 100%
  border-radius: 26px
  height: 518px

.TFimage
  display: block
  width: 100%
  height: 518px
  object-fit: cover !important
  border-radius: 6px 6px 0 0
  border-radius: 26px

.TFoverlay
  position: absolute
  bottom: 0
  left: 0
  right: 0
  border-radius: 26px
  overflow: hidden
  width: 100%
  height: 125px
  transition: .5s ease
  background-color: #DED7F5

.TFcontainer:hover .TFoverlay
  height: 100%

.ImgSubtitulo
  background-image: url("../assets/curso/subtitulo.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center
  padding-top: 0.9em
  padding-bottom: 0.6em

.candado
  position: relative
  width: 51px !important
  height: 64px !important
  left: -75% !important

// @media screen and (max-width: 991px)
//   .TFimage
//     height: 200px
   