iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.curso-main-container     
  background-color: #f3f9ff !important

.cajon.color-secundario 
  background-color: #E9DCFD !important  

.bloque-texto-g.color-primario
    background-color: #500C75 !important

.titulo-sexto
  font-size: 0.813em !important


.fondo-introduccion  
  position: relative
  padding-bottom: 1rem
  div
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/introduccion/img01.svg")    
    // background-size: contain
    background-repeat: no-repeat      

.fondo1-tema1
  position: relative
  padding-bottom: 1rem
  .row, p,.titulo-segundo
    position: relative
  &::before    
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 108%
    height: 100%
    margin: 0 -5rem      
    background-image: url("../assets/curso/tema1/img01.svg")    
    // background-size: contain
    background-repeat: no-repeat      

.fondo2-tema1  
  background-image: url("../assets/curso/tema1/img05.svg")    
  background-size: cover
  background-repeat: no-repeat      

.fondo3-tema1  
  border-radius: 20px
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(228,253,252,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(228,253,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4fdfc', GradientType=0 );

    